
@font-face {
    font-family: 'Roboto-Light';
    src: url(../font/Roboto-Light.otf) format('otf');
    src: url(../font/Roboto-Light.ttf) format('ttf');
    src: url(../font/Roboto-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../font/Roboto-Regular.otf) format('otf');
    src: url(../font/Roboto-Regular.ttf) format('ttf');
    src: url(../font/Roboto-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../font/Roboto-Medium.otf) format('otf');
    src: url(../font/Roboto-Medium.ttf) format('ttf');
    src: url(../font/Roboto-Medium.otf) format('woff');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../font/Roboto-Bold.otf) format('otf');
    src: url(../font/Roboto-Bold.ttf) format('ttf');
    src: url(../font/Roboto-Bold.otf) format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'sweeetsans';
    src: url(../font/SweetSansProBold.otf) format('otf');
    src: url(../font/SweetSansProBold.ttf) format('ttf');
    src: url(../font/SweetSansProBold.woff) format('woff');
}