// @import '_font.scss';
@import url('https://fonts.cdnfonts.com/css/monument-extended');
@import url('https://fonts.cdnfonts.com/css/sweet-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    background-color: #000000;
}
a{
    cursor: pointer;
}
.form-check-input[type="checkbox"]{
    cursor: pointer;
}

.cursor{
    cursor: pointer;
}

// HEADER

.section-header{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    z-index: 2;
    .languaje{
        color: #ffffff;
        position: relative;
        cursor: pointer;
        @media (max-width: 575px) {
            font-size: 10px;
        }
        @media (max-width: 1199px) {
            width: 100%;
            background-color: #444;
            position: absolute;
            left: 0;
            top: 65px;
            padding: 10px;
        }
        .token{
            border-radius: 30px;
            padding: 5px 1rem;
            cursor: pointer;
            color: #fdfdfd;
            border: solid 1px transparent;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 2px 1000px 1px #444444 inset;
            @media (max-width: 575px) {
                padding: 5px;
            }
        }
        .icon-lng{
            width: 30px;
            @media (max-width: 575px) {
                width: 20px;
            }
            img{
                width: 100%;
            }
        }
        .languajeOption{
            display: none;
            position: absolute;
            top: 35px;
            background-color: #000;
            width: 100%;
            padding: 0;
            border: 1px solid #717171;
            border-radius: 5px;
            ul{
                list-style: none;
                padding-left: 0;
                li{
                    cursor: pointer;
                    opacity: 0.7;
                    transition: all 0.5s;
                    padding: 2px 10px;
                    &:hover{
                        background-color: #8b8b8b;
                        color: #ffffff;
                    }
                    &:hover{
                        opacity: 1;
                        transition: all 0.5s;
                    }
                }
            }
        }
        .open-languaje{
            display: block;
        }
    }
    .header-l{
        @media (min-width: 1200px) and (max-width: 1399px){
            font-size: 12px;
        }
        .logo-h{
            width: 150px;
            cursor: pointer;
            @media (max-width: 575px) {
                width: 80px;
                margin-left: 5px;
            }
            img{
                width: 150px;
                @media (max-width: 575px) {
                    width: 80px;
                }
            };
        }
        .icon-mobile-h{
            border-radius: 30px;
            text-align: center;
            color: #ffffff;
            font-size: 2rem; 
        }
        .menu{
            border: 0;
            .header-nav{
                list-style: none;
                margin-bottom: 0;
                @media (max-width: 1199px) {
                    display: none !important;
                }
                .nav-item{
                    padding: 0 1rem;    
                    position: relative;
                    font-family: "Roboto-Regular", sans-serif;
                    &:before{
                        content: "";
                        position: absolute;
                        left: -1px;
                        height: 15px;
                        width: 1px;
                        background-color: #ffffff;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    &:first-child{
                        &:before{
                            display: none;
                        }
                    }
                    .nav-link{
                        color: #ffffff;
                        &:hover{
                            color: #f0b21f !important;
                        }
                    }
                    .active{
                        color: #f0b21f !important;
                    }
                }
            }
            .menu-mobile{
                display: block !important;
                position: absolute;
                top: 70px;
                background-color: rgb(47, 0, 13);
                left: 0;
                right: 0;
                z-index: 2;
                padding: 25px 0;
                .nav-item{
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}


// BUTTONS

.btn-gradient-one{
    border-radius: 30px;
    padding: 5px 1rem;
    cursor: pointer;
    color: #fdfdfd;
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #0d1011 inset;
    transition: all 0.5s;
    @media (max-width: 767px) {
        width: fit-content;
    }
    &:hover{
        box-shadow: none;
        transition: all 0.5s;
    }
}
.btn-gradient-one-i{
    border-radius: 30px;
    padding: 5px 1rem;
    cursor: pointer;
    color: #fdfdfd;
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
    transition: all 0.5s;
    @media (min-width: 768px) and (max-width: 991px) {
        padding: 0.5rem 2rem;
    }
    &:hover{        
        box-shadow: 2px 1000px 1px #0d1011 inset;
        transition: all 0.5s;
    }
}

// TEXTOS

.title-w{
    font-family: 'Monument Extended', sans-serif;
    font-size: 44px;
    color: #ffffff;
    @media (max-width: 1199px) {
        font-size: 35px;
    }
}
.title-w-1{
    font-family: 'Sweet Sans Pro', sans-serif;
    font-size: 6rem;
    color: #ffffff;
    font-weight: 700;
    margin-left: -10px;
    @media (max-width: 767px) {
        font-size: 3rem;
    }
}
.title-w-medium{
    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.parraf{
    font-family: 'Roboto-Light', sans-serif;
    font-size: 18px;
    color: #ffffff;
    @media (max-width: 767px) {
        font-size: 12px;
    }
    @media (min-width: 1600px) {
        font-size: 24px;
    }
}
.ff-r{
    font-family: 'Roboto', sans-serif;
}
.subtitle{
    color: #ffffff;
}
.fs-small{
    font-size: 14px;
}

// DECORACIONES

.dec-line{
    width: 100px;
    height: 4px;
    background-image: linear-gradient(101deg, #c81b63, #f0b21f);
    margin: 1rem 0;
    @media (max-width: 991px) {
        margin: 1rem auto;
    }
}
.card-custom{
    border: 1px solid #cecece;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50px;
}
.title-dec{
    .dec-1{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            height: 2px;
            background-image: linear-gradient(101deg, #c81b63, #f0b21f);
            width: 95%;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }
        &:after{
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: linear-gradient(101deg, #c81b63, #f0b21f);
        }
    }
    .dec-2{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            height: 2px;
            background-image: linear-gradient(101deg, #c81b63, #f0b21f);
            width: 95%;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        &:after{
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: linear-gradient(101deg, #c81b63, #f0b21f);
        }
    }
}

// TABLE
.table{
    width: 100%;
    display: table;
    color: #ffffff;
    position: relative;
    .tr{
        display: table-row;
        position: relative;
        // &::before{
        //     content: '';
        //     pointer-events: none;
        //     position: absolute;
        //     border: solid 1px transparent;
        //     background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
        //     background-origin: border-box;
        //     background-clip: content-box, border-box;
        //     box-shadow: 2px 1000px 1px #0d1011 inset;
        //     left: 0;
        //     top: 5px;
        //     bottom: 0;
        //     right: 0;
        //     border-radius: 5px;
        // }
        // &:first-child{
        //     &:before{
        //         opacity: 0;
        //     }
        // }
        @media (max-width: 767px) {
            display: block;
            border-bottom: 1px solid rgba(228, 134, 51, 0.45);
            &:first-child{
                border-bottom: 0;
            }
        }
    }
    .th{
        display: table-cell;
        padding-bottom: 10px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    .td{
        display: table-cell;
        vertical-align: middle;
        @media (max-width: 767px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .label{
            font-size: 12px;
            width: 100px;
            @media (min-width: 768px) {
                display: none;
            }
        }
        .vlr{
            display: block;
            border: solid 1px transparent;
            // border-left: 1px solid #0d1011;
            // border-right: 1px solid #0d1011;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 2px 1000px 1px #0d1011 inset;
            margin: 5px;
            height: 35px;
            @media (max-width: 767px) {
                flex: 1;
            }
        }
        // &:first-child{
        //     div{
        //         border-left: 1px solid transparent;
        //     }
        // }
        // &:last-child{
        //     div{
        //         border-right: 1px solid transparent;
        //     }
        // }
        
    }
}

// META-G 
.p-meta-g{
    background-image: url(../img/meta-g/background.jpg);
    .box-1{
        position: relative;
        padding-top: 65px;
        @media (max-width: 767px) {
            padding-top: 70px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            padding-top: 120px;
        }
        .box-1-1{
            width: 95%;
            max-width: 1650px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            max-height: 700px;
            margin: 0 auto;
            overflow: hidden;
            transform: translateZ(0);
            @media (max-width: 767px) {
                width: 100%;
                height: 500px;
                border-radius: 0;
            }
            // @media (min-width: 1400px) {
            //     min-width: 1500px;
            // }
            .swiper{
                height: 100%;
                .swiper-pagination-bullet{
                    background-color: #ffffff;
                    opacity: 1;
                    transition: all 0.5s;
                }
                .swiper-pagination-bullet-active{
                    width: 100px;
                    background-color: #ffffff;
                    border-radius: 5px;
                    transition: all 0.5s;
                }
            }
            .c-banner{
                height: 100%;
                background-position: center;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    // object-position: 80%;
                    @media (min-width: 576px) and (max-width: 767px) {
                        object-position: center bottom;
                    }
                }
                // @media (max-width: 1199px) {
                //     background-size: cover;
                //     background-position: right;
                // }
                // @media (min-width: 1200px) and (max-width: 1399px) {
                //     background-position: 80%;
                // }
                // @media (min-width: 1400px) and (max-width: 1650px) {
                //     background-position: 60%;
                // }
            }
        }
    }
    .box-2{
        margin-top: 100px;
        padding-top: 100px;
        padding-bottom: 50px;
        @media (max-width: 1199px) {
            padding-top: 0;
        }
        .img-1{
            width: 100%;
            transform: translateY(-295px);
            position: absolute;
            @media (max-width: 1199px) {
                transform: translateY(0px);
                position: relative;
            }
            img{
                width: 100%;
            }
        }
    }
    
    .box-3{
        // background-image: url(../img/meta-g/background-1-meta-g.jpg);
        padding-top: 50px;
        .img-2{
            width: 100%;
            img{
                width: 90%;
            }
        }
    }
    .box-4{
        position: relative;
        padding: 100px 0;
        overflow: hidden;
        @media (max-width: 767px) {
            padding: 25px 0;
        }
        .container{
            position: relative;
            z-index: 1;
        }
        &::before{
            content: '';
            position: absolute;
            background-image: url(../img/meta-g/kev-megan-2.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 35px;
            background-size: contain;
            left: -17%;
            background-position: center;
            @media (max-width: 991px) {
                display: none;
            }
            @media (min-width: 992px) and (max-width: 1199px) {
                left: -25%;
            }
            @media (min-width: 1200px) and (max-width: 1399px) {
                left: -25%;
            }
        }
        &::after{
            content: '';
            position: absolute;
            background: linear-gradient(88deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
            width: 45%;
            height: 100%;
            right: 0;
            top: 0;
        }
    }
    .box-5{
        padding: 50px 0;
        @media (min-width: 1200px) {
            margin-top: 40px;
        }
        .img-3{
            width: 100%;
            transform: translateY(-100px);
            position: absolute;
            @media (max-width: 991px) {
                transform: translateY(0px);
                position: relative;
            }
            img{
                width: 100%;
            }
        }
    }
    
    .box-6{
        // background-image: url(../img/meta-g/background-1-meta-g.jpg);
        color: #ffffff;
        margin-top: 100px;
        .c-roadmap{
            background-color: rgba(255,255,255,0.1);
            border: 1px solid #cecece;
            padding: 1rem;
            border-radius: 10px ;
            font-family: 'Roboto', sans-serif;
            position: relative;
            padding-bottom: 50px;
            &:before{
                content: '';
                position: absolute;
                width: 96%;
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #f0b21f, #c81b63);
                height: 1px;
                top: 50%;
                left: 30px;
            }
            .item-r{
                position: relative;
                &:nth-child(-n+3){
                        &:before{
                        content: '';
                        position: absolute;
                        left: 26px;
                        width: 1px;
                        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f );
                    }
                }
                &:nth-child(n+4){
                    .item{
                        padding-top: 30px;
                    }
                }
                &:nth-child(1){
                    &:before{
                        height: 175%;
                        @media (min-width: 992px) and (max-width: 1199px) {
                            height: 182%;
                        }
                    }
                }
                &:nth-child(2){
                    &:before{
                        height: 166%;
                    }
                }
                 &:nth-child(3){
                    &:before{
                        height: 157%;
                    }
                }
                .label-r{
                    border-radius: 30px;
                    padding: 5px 1rem;
                    color: #fdfdfd;
                    border: solid 1px transparent;
                    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                    background-origin: border-box;
                    background-clip: content-box, border-box;
                    box-shadow: 2px 1000px 1px #0d1011 inset;
                    transition: all 0.5s;   
                    font-family: 'Monument Extended', sans-serif;
                    width: 200px;
                    text-align: center;
                    z-index: 2;
                    position: relative;
                }                
                .features{
                    padding-left: 24px;
                    position: relative;
                    z-index: 2;
                    ul{
                        padding-left: 0;
                        list-style: none;
                        li{
                            position: relative;
                            &:before{
                                content: "";
                                position: absolute;
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: #ffffff;
                                left: -12px;
                                top: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .box-7{
        color: #ffffff;
        .title-b7{
            font-size: 30px;
            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 14px;
            }
            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 25px;
            }
        }
        .subtitle-b7{
            font-size: 20px;
            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 12px;
            }
            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 15px;
            }
        }
    }
}


.footer{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    padding: 5rem 0;
    color: #ffffff;
    .logo-footer{
        width: 300px;
        transform: translateX(-50px);
        @media (max-width: 991px) {
            text-align: center;
            transform: translateX(0);
            width: 100%;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            transform: translateX(0);
            width: 200px;
        }
        img{
            width: 100%;
        }
    }
    .item-footer{
        padding: 0 2rem;
        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }
        &:nth-child(3){
            border-left: 1px solid #cecece;
            border-right: 1px solid #cecece;
            padding: 0 1rem;
            @media (max-width: 767px) {
                border: 0;
            }
            @media (min-width: 1600px) {
                padding: 0 4rem;
            }
        }
        .title-f{
            color: #ffffff !important;
            font-size: 1.3rem;
            line-height: 1;
            margin-bottom: 1rem;
        }   
        ul{
            list-style: none;
            padding: 0;
            li{
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    color: #ffffff;
                }
                &:hover a{
                    color: #efaf21 !important;
                }
            }
        }
    }
    .item-f-i{
        margin: 0 20px;
        img{
            width: 100%;
            height: 50px;
            object-fit: contain;
        }
    }
    .card-payment{
        color: #ffffff;
        border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
        padding: 40px 0;
        .item-c-pay{
            margin: 0 10px;
            cursor: pointer;
            .icon-pay{
                width: 30px;
                cursor: pointer;
                img{
                    width: 100%;
                }
            }
        }
    }
}

// META DEX
.p-meta-dex{
    background-image: url(../img/meta-g/background.jpg);
    font-family: "Roboto-Regular", sans-serif;
    .box-1{
        padding-top: 65px;
        @media (max-width: 767px) {
            padding-top: 120px;
        }
        .banner{
            background-image: url(../img/meta-g/banner-dex-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 90vh;
            position: relative;
            @media (max-width: 1199px) {
                height: auto;
                padding: 50px 0;
            }
            .img-banner{
                width: 100%;
                @media (max-width: 575px) {
                    max-width: 215px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                img{
                    width: 100%;
                }
            }
        }
        .parraf{
            font-size: 18px;
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        .subtitle{
            font-size: 18px;
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
    }
    .box-2{
        overflow: hidden;
        @media (max-width: 767px) {
            margin-top: 40px;
        }
        .sep-line{
            width: 50%;
            height: 4px;
            background-image: linear-gradient(101deg, #c81b63, #f0b21f);
            margin: 65px auto 100px auto;
            @media (max-width: 767px) {
                // margin: 40px auto;
                display: none;
            }
        }
        .img-1{
            width: 100%;
            height: 550px;
            @media (max-width: 575px) {
                width: 100%;
                height: 300px;
                text-align: center;
            }
            @media (min-width: 576px) and (max-width: 767px) {
                height: 100%;
                transform: translateX(-40px);
            }
            @media (min-width: 768px) and (max-width: 991px) {
                height: 100%;
                transform: translateX(-40px);
            }
            img{
                position: absolute;
                top: -90px;
                height: 100%;
                width: auto;
                @media (max-width: 575px) {
                    position: relative;
                    top: 0;
                }
                @media (min-width: 576px) and (max-width: 767px) {
                    top: 0;
                }
            }
        } 
        button{
            white-space: nowrap;
        }
        .dec{
            width: 100%;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
            height: 2px;
            margin-left: 30px;
        }
    }
    .box-3{
        padding-top: 50px;
        @media (max-width: 575px) {
            padding-top: 0;
        }
        .select-c{
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
            color: #ffffff;
            border: 0;
            font-size: 12px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .box-4{
        margin-top: 50px;
        .c-benefits{
            position: relative;
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            @media (max-width: 991px) {
                grid-template-columns: repeat(1, 1fr);
            }
            &::before{
                content: '';
                position: absolute;
                width: 95%;
                height: 1px;
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                @media (max-width: 991px) {
                    display: none;
                }
            }
            .item-b{
                background: linear-gradient(88deg, rgba(59,0,33,1) 0%, rgba(0,0,0,1) 100%); 
                border-radius: 20px;
                position: relative;
                @media (max-width: 991px) {
                    margin-bottom: 30px;
                    &:nth-child(n+2){
                        width: 80%;
                        margin: 30px auto;
                    }
                }
                @media (max-width: 991px) {
                    &:first-child{
                        &:before{
                            content: "";
                            position: absolute;
                            width: 50%;
                            height: 1px;
                            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                            bottom: 25px;
                        }
                    }
                }
                .icon-b{
                    position: absolute;
                    width: 80px;
                    top: -30px;
                    left: -25px;
                    img{
                        width: 100%;
                    }
                }
                .parraf{
                    font-size: 16px;
                }
            }
        }
    }
    .box-5{
        color: #ffffff;
        margin-top: 100px;
        .title-dec{
            .dec-2{
                &::before{
                    left: 0;
                    width: 100%;
                }   
            }
        }
        .c-steps{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            position: relative;
            @media (max-width: 767px) {
                grid-template-columns: repeat(2, 1fr);
            }
            &::before{
                content: '';
                top: 0;
                bottom: 0;
                margin: auto;
                position: absolute;
                width: 90%;
                left: 0;
                right: 0;
                height: 1px;
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .item-step{
                background: linear-gradient(88deg, rgba(59,0,33,1) 0%, rgba(0,0,0,1) 100%); 
                border-radius: 20px;
                position: relative;
                padding: 20px 5px;
                text-align: center;
                margin: 0 30px;
                border-right: 1px solid rgba(240, 178, 31, 0.42);
                @media (max-width: 767px) {
                    margin: 30px 0;
                } 
                @media (min-width: 768px) and (max-width: 1199px) {
                    margin: 0px 10px;
                }   
                &:last-child{
                    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                }
                .num{
                    position: absolute;
                    left: 0;
                    top: -20px;
                    right: 0;
                    margin: 0 auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                    font-weight: bold;
                    @media (max-width: 767px) {
                        left: 20px;
                        top: -20px;
                    }
                }
                .text{
                    font-size: 12px;
                    text-align: center;
                }
                .ico{
                    position: absolute;
                    font-size: 1.2rem;
                    right: 10px;
                    bottom: 10px;
                }
            }
        }
    }
    .box-6{
        background-image: url(../img/meta-g/to-buy-bg.png);
        background-position: 0 bottom;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        .img-buy{
            position: relative;
            height: 100%;
            background-image: url(../img/meta-g/to-buy-2.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            img{
                width: auto;
                height: 100%;
            }
        }
        .c-form{
            background: linear-gradient(45deg, rgba(59,0,33,1) 0%, rgba(0,0,0,1) 100%); 
            color: #ffffff;
            border-radius: 20px;
            .dec{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                    width: 105%;
                    height: 2px;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    left: -5%;
                }
            }
            .campo-amount{
                width: 100px;
                padding: 0 5px;
                @media (min-width: 1200px) {
                    width: 200px;
                }
                input{
                    &:focus{
                        outline: none;
                        border: 0;
                        box-shadow: none;
                    }
                }
            }
            .wallet-b{
                border-radius: 10px;
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                height: 40px;
            }
            .btn-gradient-one{
                width: 180px;
                margin-bottom: 20px;
                white-space: nowrap;
                .icon-b{
                    width: 20px;
                    margin-right: 0 !important;
                    img{
                        width: 100%;
                    }
                }
                span{
                    flex: 1;
                    text-align: center;
                }
            }
            .text{
                max-width: 250px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #cecece;
                    left: 0;
                    bottom: -5px;
                }
            }
            .gradient-box{
                background-image: linear-gradient(101deg, #c81b63, #f0b21f);
                border-radius: 20px;
                @media (max-width: 1199px) {
                    white-space: nowrap;
                }
            }
            .btn-gradient-one-i{
                width: 40%;
                margin: 0 auto;
                padding: 5px;                
                @media (max-width: 767px) {
                    width: 45%;
                }
                @media (max-width: 1199px) {
                    white-space: nowrap;
                }
                .icon-b{
                    width: 30px;
                    // margin-right: 10px;
                    img{
                        width: 100%;
                    }
                }
                span{
                    flex: 1;
                    text-align: center;
                    padding: 0;
                    // @media (max-width: 575px) {
                    //     padding: 0 10px;
                    // }
                    // @media (min-width: 576px) and (max-width: 1199px) {
                    //     padding: 0 40px 0 20px;
                    // }
                }
            }
            .dec-w{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 90%;
                    height: 2px;
                    background-color: #ffffff;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    right: 0;
                }
            }
            .selec-gp{
                border-radius: 10px;
                border: 2px solid #ffffff;
                overflow: hidden;
                .icon-cgp{
                    background-image: linear-gradient(101deg, #c81b63, #f0b21f);
                    color: #ffffff;
                    border: 0;
                    padding: 5px 10px;   
                    cursor: pointer;   
                    &:first-child{
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }              
                    &:last-child{
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                }
                .campo-amount{
                    input{
                        background-color: transparent;
                        border: 0;
                        color: #ffffff;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .sep-line{
                width: 100%;
                height: 2px;
                background-image: linear-gradient(101deg, #c81b63, #f0b21f);
                margin: 30px 0;
            }
            .camp-buy{
                border: 2px solid #ffffff;
                border-radius: 10px;
                .costo{
                    border-right: 1px solid #ffffff;
                    padding: 10px;
                }
                .selec-gp{
                    position: relative;
                    border: 0;
                    overflow: initial;
                    cursor: pointer;
                    height: 100%;
                    .icon-mnd{
                        width: 40px;
                        img{
                            width: 100%;
                        }
                    }
                    .icon-cgp{
                        background-image: linear-gradient(101deg, #c81b63, #f0b21f);
                        height: 100%;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    .options-buy{
                        position: absolute;
                        list-style: none;
                        display: none;
                    }
                    .options-buy.active{
                        display: block;
                        top: 45px;
                        background: #33001d;
                        width: 100%;
                        border-bottom-left-radius: 5px;
                        padding: 0.5rem 1rem;
                        border: 1px solid #cecece;
                        border-bottom-right-radius: 5px;
                        border-top: 0;
                        z-index: 5;
                    }
                }

            }
            .btn-pay{
                position: relative;
                .btn-gradient-one{
                    position: relative;
                    z-index: 2;
                }
                .dec-pay{
                    position: absolute;
                    background-image: linear-gradient(101deg, #c81b63, #f0b21f);
                    width: 100%;
                    height: 1px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    &:before{
                        content: "";
                        background-color: #c81b63;
                        width: 5px;
                        height: 5px;
                        left: 0;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    &:after{
                        content: "";
                        background-color: #f0b21f;
                        width: 5px;
                        height: 5px;
                        right: 0;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
    .box-7{
        .table-buy{
            width: 100%;
            display: table;
            color: #ffffff;
            background-color: #390020;
            border-radius: 10px;
            font-size: 14px;
            position: relative;
            .tr{
                display: table-row;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    background-color: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                    left: 0;
                    top: 0px;
                    bottom: 0;
                    right: 0;
                    border-radius: 5px;
                }
                &:first-child{
                    &:before{
                        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                    }
                }
            }
            .th{
                display: table-cell;
                padding: 5px;
                z-index: 1;
                position: relative;
                text-align: center;
            }
            .td{
                border: 1px solid #c81b63;
                display: table-cell;
                position: relative;
                z-index: 1;
                padding: 10px 5px 5px 5px;
                border-bottom: 0;
                text-align: center;
                &:first-child{
                    border-left: 0;
                }
                &:last-child{
                    border-right: 0;
                }
            }
        }
        .user-dat{
            position: relative;
            .user-name{
                width: 40%;
                color: #ffffff;
                padding: 5px 70px 5px 50px;
                border-bottom: 0;
                background-color: #f0b21f;
                position: relative;
                clip-path: polygon(0% 100%, 10% 0%, 100% 0%, 100% 100%, 0% 100%);
                border-radius: 10px;
                overflow: hidden;
                span{
                    color: #ffffff;
                    position: relative;
                    z-index: 3;
                }
                .label{
                    position: relative;
                    z-index: 3;
                    color: #efaf20;
                    font-size: 1rem;
                    padding-left: 1rem;
                }
                &::before{
                    width: calc(100% - 2px);
                    height: calc(100% - 1px);
                    position: absolute;
                    content: '';
                    top: 1px;
                    left: 1px;
                    background-color: #0c0507;
                    clip-path: polygon(0% 100%, 10% 0%, 100% 0%, 100% 100%, 0% 100%);
                }
            }
            .line{
                position: relative;
                &::before{
                    content: '';
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    height: 1px;
                    background-color: #efaf20;
                    position: absolute;
                    margin: auto;
                }
            }
        }
    }
    .box-8{
        .wallet-b{
            width: fit-content;
            border-radius: 50px;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
            @media (max-width: 991px) {
                margin: 0 auto;
            }
        }
        .dec-line-s{
            background-color: #ffffff;
            width: 100%;
            height: 2px;
        }
        .c-form{
            background: linear-gradient(45deg, rgba(59,0,33,1) 0%, rgba(0,0,0,1) 100%); 
            color: #ffffff;
            border-radius: 20px;
            .camp-subc{
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
                border-radius: 20px;
                input{
                    background-color: transparent;
                    border: 0;
                    color: #ffffff;
                    &:focus,
                    &::placeholder{
                        color: #ffffff;
                    }
                }
                .input-group-text{
                    background-color: transparent;
                    border: 0;
                    a{
                        text-decoration: underline;
                    }
                }
            }
        }
        .card-info-dex{
            padding: 2rem;
            border-radius: 20px;
            @media (max-width: 767px) {
                padding: 1rem;
            }
            .durcn{
                flex-wrap: wrap;
                .item-op-durc{
                    border: 1px solid #ffffff;
                    background-color: transparent;
                    margin-right: 5px;
                    min-width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 14px;
                    cursor: pointer;
                    @media (max-width: 575px) {
                        margin-right: 0.2rem;
                        min-width: 29px;
                        font-size: 0.8rem;
                    }
                    @media (min-width: 1200px) {
                        margin: 0 0.5rem;
                    }
                }
                .active{
                    background-color: #ffffff;
                }
            }
            .icon-to-buy{
                width: 20px;
            }
            .text-info-durc{
                font-size: 14px;
            }
            .form-check-input[type="checkbox"] {
                border-radius: 0;
            }
            .form-check-label{
                font-size: 1rem;
            }
        }
    }
}

.select-chain{
    background-color: #000000;
    cursor: pointer;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    width: fit-content;
    white-space: nowrap;
}


.modalroadmap{
    .btn-close{
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    }
    .modal-header{
        border-bottom: 0;
    }
    .modal-content{
        background-color: #390020;
        height: 98vh;
        overflow: auto;
        padding-bottom: 35px;
    }
}