.subcrib{
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-info{
        background-color: #140007;
        border-radius: 20px;
        padding: 20px;
        color: #ffffff;
    }
    .btn-one{
        border-radius: 30px;
        display: flex;
        padding: 5px 1rem;
        align-items: center;
        font-size: 1rem;
        color: #fdfdfd;
        border: solid 1px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #0d1011 inset;
        transition: all 0.5s;
        @media (max-width: 767px) {
            font-size: 12px;
        }
        &:hover{
            box-shadow: none;
        }
        .icon{
            width: 15px;
            height: 15px;
            line-height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
.camp-subc{
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c81b63, #f0b21f);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #0d1011 inset;
    border-radius: 25px;
    padding: 5px;
    input{
        background-color: transparent;
        border: 0;
    }
    .form-control:disabled{
        background-color: transparent;
        border: 0;
    }
    .input-group-text{
        background-color: transparent;
        border: 0;
        a{
            color: #ffffff;
        }
    }
}